.black{
    border:5px solid black;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px;
    width: 900px;
}
h1{
    margin-top: 5px;
    margin-left: -10px;
}
.blue{
    background-color: yellow;
    text-align: center;
    border:35px solid blue;
    padding: 40px;
    margin-left: 40px;
    margin-top: 45px;

}